<section class="section-outer ">
    <div class="section-inner">
        <div class="section-image">
            <div class="img">
                <img src="../../../assets/images/image 14.png" alt="">
            </div>
            <div class="image-content">
                <div class="subtitle">Become sexy</div>
                <div class="title">Mad love for f ire headwear</div>
                <div class="button"><button>Learn more</button></div>
            </div>
        </div>
    </div>
</section>