<section>
    <div class="section-inner">
        <div class="section-image">
            <div class="img-girl">
                <img src="../../../assets/images/image 14.png" alt="">
            </div>
            <div class="image-content">
                <div class="subtitle"><span>Become sexy</span></div>
                <div class="title"><span>Mad love for fire headwear</span></div>
                <div class="button"><button>Learn more</button></div>
            </div>
        </div>
    </div>
</section>