<section class="section-outer section-list">
    <div class="section-inner">
       <div class="list">
           <div class="list-item">
               <div class="list-title"><span></span><span>Brands</span></div>
               <div class="list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
           </div>
           <div class="list-item">
               <div class="list-title"><span></span><span>Styles</span></div>
               <div class="list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
           </div>
           <div class="list-item">
               <div class="list-title"> <span></span><span>Colors</span></div>
               <div class="list-text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
           </div>
       </div>
    </div>
</section>