<section class="section-outer">
  <div class="section-inner">
    <div class="footer">
      <div class="footer-left">
        <div>
          <div class="title">mad hatters</div>
          <div class="text">
            Be better, be cooler, be a Mad
            <br />
            Hatter and sustainably matter.
          </div>
        </div>
        <div class="copy">Copyright 2012 Mad Hatters, Inc. Terms & Privacy</div>
      </div>
      <div class="footer-right">
        <div class="shop">
          <div class="list">
            <ul>
              <div class="shop-title">Shop here</div>
              <li><a href="#">For Men</a></li>
              <li><a href="#">For Women</a></li>
              <li><a href="#">For Kids</a></li>
              <li><a href="#">For Anyone</a></li>
              <li><a href="#">For No-one</a></li>
            </ul>
          </div>
        </div>
        <div class="legals">
          <div class="list">
            <ul>
              <div class="shop-title">The legals</div>
              <li><a href="#">Copyright</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
