<section class="section-outer ">
    <div class="section-inner">
        <div class="section-brands">
            <div class="subtitle">Hat’s that bring the fire</div>
            <div class="title">Our Range</div>
            <div class="brands-items">
                <div class="item">
                    <div class="img">
                        <img src="../../../assets/images/brands/brands-1.png" alt="">
                    </div>
                    <div class="content">
                        <div class="content-title">The pretender</div>
                        <div class="content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="../../../assets/images/brands/brands-2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="content-title">The influencer</div>
                        <div class="content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="../../../assets/images/brands/brands-3.png" alt="">
                    </div>
                    <div class="content">
                        <div class="content-title">The andy cap</div>
                        <div class="content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="../../../assets/images/brands/brands-4.png" alt="">
                    </div>
                    <div class="content">
                        <div class="content-title">The traveller</div>
                        <div class="content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                    </div>
                </div>
            </div>

            <div class="more">+ Show more</div>

        </div>
    </div>
</section>