<section class="section-header">
        <div class="section-header__menu">
            <div class="section-header__menu__logo">
                <img src="../../../assets/images/dotsW.svg" alt="">
            </div>
            <div class="section-header__menu__title">mad hatters</div>
            <div class="section-header__menu__navbar">
                <div>For Men</div>
                <div>For Women</div>
                <div>For Kids</div>
                <div>For Anyone</div>
                <div>For No-one</div>
            </div>
        </div>
       
        <div class="section-header-content">
                <div class="content">
                    <div class="subtitle">Introducing</div>
                    <div class="title">Mad hatters, style matters</div>
                    <div class="button"><button>Learn more</button></div>
                </div>
                <div class="header-images">
                    <div class="img_1"><img src="./../../../assets/images/Talent shot.png" alt=""></div>
                    <div class="img_2"><img src="./../../../assets/images/Talent Shot1.png" alt=""></div>
                </div>
        </div>
</section>